<div class="col-10 offset-1 about">
  <h1>About this Splurty app</h1>

  <p>
    This Splurty app was built by <a target="_blank" href="http://github.com/MattParr">Matt</a>. A web developer student at UCF's coding bootcamp (Founded by: <a target="_blank" href="http://github.com/MarcoMorawec">Marco Morawec</a> & <a target="_blank" href="http://github.com/KenMazaika">Ken Mazaika</a>) in an attempt to change carrers and ultimately his life.
  </p>
  <p>
    If you want to learn how to code as well - start <a target="_blank" href="https://online.bootcampspot.com"> here</a>.
  </p>
  
  <br />

  <p>
    For the last couple of years Matt was proffessonally driving semis across the United States. Before that he worked as a pool cleaner, handy-man, many resturant jobs (front and back of house) as well as the Army National Guard.  
  </p>
  

  <div class="row">
    <div class="col-12 col-sm-4" style="padding-top: 75px;">
      <%= image_tag 'me.jpg', class: 'img-fluid' %>
    </div>

    <div class="col-12 col-sm-7 offset-sm-1">
      <h2 class="text-center">Matt Parr</h2>
      
      <br />

      <p>
        Matt Parr is a web developer student currently at UCF. He has had a wide variety of jobs and experience from mechanics to retail. Looking to improve his work and personal life, he has started a new jorney into the I.T. world and web developement. Hoping this is the last "major" carreer change he has always held an interest in computers, design and the internet. So here's to new experiences in life and jumping into the 'unknown'.
      </p>
    </div>
  </div>

  
</div>

<br class="clear" />
<br />
<br />
<br />
<br />


