<h2>
  <span>Words of wisdom: No. <%= @quote.id %></span><span2>
  Once upon a time <u>this wise one</u> said...</span2>
</h2>

<h1><%= @quote.saying %></h1>
<h2 class="float-right">- <%= @quote.author %></h2>

<br class="clear">
<br />
<br />
<br />

