@import "bootstrap";

@import url('https://fonts.googleapis.com/css?family=Modak&display=swap');

@import url('https://fonts.googleapis.com/css?family=Kelly+Slab&display=swap');

@import url('https://fonts.googleapis.com/css?family=Lobster&display=swap');

@import url('https://fonts.googleapis.com/css?family=Permanent+Marker&display=swap');

.clear {
  clear: both;
}

.circle {
  font-family: 'Lobster', cursive;
  front-weight: bold;
  front-style: italic;
  position: relative;
  border-radius: 100%;
  background: #f84342;
  border: 1px solid #F7F7F7;
  width: 80px;
  height: 80px;
  margin: 10px 10px;
  text-align: center;
  color: #FFF;
  font-size: 10px;
  line-height: 16px;
  cursor: pointer;
  transform: rotate(11deg); 
  -ms-transform: rotate(11deg); /* IE 9 */
  -webkit-transform: rotate(11deg); /* Opera, Chrome, and safari */
}

.slogan {
  font-family: 'Kelly Slab', cursive;
  padding-top: 26px;
}

.links {
  font-family: 'Lobster', cursive;
  padding-top: 26px;
}

.links a {
  color: orange;
  font-size: 25px;
  border-bottom2: 1px solid #F83005;
}

header {
  border-top: 9px solid #222222;
}

hr {
  clear:both;
}

h1 {
  font-family: 'Modak', cursive;
  font-size: 48px;
}

h2 {
  font-family: 'Permanent Marker', cursive;
  font-weight: bold;
}

.next-quote {
  color: #ffa500;
  font-family: 'Permanent Marker', cursive;
  font-size: 20px;
}

.footer-blurb {
  color: #f63402;
  font-family: "Kelly Slab", cursive;
  text-align: right;
  font-size: 12px;
}

.logo:hover {
  text-decoration: none;
}